body {
}

/*DIV formatting*/
#container {
    background: pink;
    padding: 20px;
    margin: 0 auto;
    border: 1px solid black;
    width: 900px;
}
#header {
    background: blue;
    color: white;
    padding: 10px;
    margin: 0 auto;
    border: 1px solid black;
}
#menu {
    background: orange;
    color: white;
    padding: 10px;
    margin: 0 auto;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
#main {
    background: white;
    padding: 10px;
    margin: 0 auto;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
#footer {
    background: green;
    color: white;
    padding: 10px;
    margin: 0 auto;
    border: 1px solid black;
}

.level1 {
    color: green;
    background-color: white;
    font-variant: small-caps;
    font-size: large;
}
.level2 {
    color: blue;
    font-family: Garamond;
    font-size: medium;
    background-color: white;
}
.hdr_img {
    float: right;
    margin: 0;
    padding: 0;
    border: 0;
}